# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/planify/node_modules
/planify/.pnp
/planify/.pnp.js
/planify/.yarn/install-state.gz

# testing
/planify/coverage

# next.js
/planify/.next/
/planify/out/

# production
/planify/build

# misc
.DS_Store
*.pem
/planify/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/planify/.env*.local

# vercel
/planify/.vercel

# typescript
/planify/*.tsbuildinfo
*.tsbuildinfo
/planify/next-env.d.ts
next-env.d.ts


/planify/*.db